h1 {
    font-size: 28px;
    color: #1c40b9;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 10fr);
    grid-gap: 30px;
    justify-content: center;
}

/* Réduction de la taille des cartes */
.product-card {
    border: 1px solid #b3cdde;
    padding: 10px; /* Réduisez la marge interne pour réduire la taille */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #E3F2FD;
    transition: transform 0.2s, box-shadow 0.2s;
}



.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(33, 150, 243, 0.4);
}

img {
    max-width: 100%;
    height: auto;
}

.title, .button_commander, .button_payer {
    text-decoration: none;
    color: #2196F3;
    font-weight: bold;
}

.title:hover, .button_commander:hover, .button_payer:hover {
    text-decoration: underline;
}

p {
    max-width: 400px;
}

.paiemant {
    padding: 20px;
    background-color: #BBDEFB;
    border: 1px solid #2196F3;
    border-radius: 5px;
    text-align: center;
}
